
$colors: (
    primary: rgba(106, 5, 236, 0.582),
    accent: #FFF6BB,
    normal: rgb(255, 255, 255),
    primary-light: lighten(rgba(106, 5, 236, 0.582), 40%),
    primary-dark: darken(rgba(106, 5, 236, 0.582,), 40%)
);

$padding: 15px;
$borders: 15px;

@function color($color-name) {
    @return map-get($colors, $color-name);
}

$desktop: 840px;

@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
    
}

body, html {
    height: 100%;  
}

body {
    font-family: 'Monsterrat';
    margin: 0;
    
    #bg {
        clip-path: polygon(100% 0, 100% 70%, 48% 100%, 0 100%, 0 0);
        background-color: color(primary);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;

        @include desktop {
            clip-path: polygon(0 0, 76% 0, 57% 100%, 0 100%);

        }
    }

    header a {
        text-decoration: none;
        text-transform: uppercase;
        color: color(normal);
        padding: $padding;
        display: block;
    }
}


main {
    
    @include desktop{
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "primary card"
    }

    section#card {
        background: color(normal);
        padding: 20px;
        margin: 1em auto;
        border-radius: $borders;
        width: 80%;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
        

        @include desktop {
            grid-area: card;
            height: fit-content;
            margin: 1em;
            align-self: center;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                margin-bottom: 8px;

                span {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background: color(primary-light);
                    margin-right: 10px;
                }

                strong {
                    display: inline-block;
                    margin-top: 10px;
                    margin-left: max(40px);
                }
            }
        }
    }

    section#primary {
        color: color(normal);
        text-align: center;
        padding: $padding;


        @include desktop {
            grid-area: primary;
            text-align: left;
            margin: 4em 0 0 4em;   
        }

        h1 {
            font-size: 3em;
            text-transform: uppercase;
            margin-top: 10px;

            @include desktop {
                width: 30%;
                line-height: .9em;
                font-size: 4em;
            }
        }

        p {
            font-size: 1.4em;
        }

        a {
            text-decoration: none;
            color: color(primary-dark);
            border-radius: $borders;
            text-transform: uppercase;
            display: block;
            text-align: center;
            background: color(accent);
            font-weight: bold;
            padding: $padding;
            margin: 35px auto 0 auto;

            @include desktop {
               display: inline-block;
               padding: $padding $padding * 4;
            }
        }
    }

    

}